/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color:white;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color:rgb(250, 240, 206);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color: #5c2a47;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #7a5a5d;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #966e71;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #422023;
    margin-top: 5%;
    margin-bottom: 5%;
}
h3:hover{
    color: #5c2a47;
}

ul {
    list-style-type: square;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}


/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    color: #5c2a47;
    background-color: rgb(253, 219, 177);
}